<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
      <table class="table table-responsive">
        <thead>
        <tr><th>Users</th></tr>
        </thead>
          {{#each model}}
            <tr>
              <td>
                {{#linkTo "users.show" this}}{{fullName}}{{/linkTo}}
              </td>
            </tr>
          {{/each}}
      </table>
      {{#linkTo 'users.new' class="btn btn-primary"}}Create{{/linkTo}}
    </div>
    <div class="col-md-9">
        {{outlet}}
    </div>
  </div>
</div>